@import '../../../styles/variables.scss';

#container_main_card_artist {
  display: flex;
  flex-direction: column;
  width: 240px;
  padding: 1%;
  margin: 2% auto;
  min-height: 310px;
  border-radius: 5px;
  background-color: $color-black-background-card;
  transition: 0.24s;

  &:hover {
    cursor: pointer;
    background-color: $color-black-gray-hover;

    .container_play_music {
      opacity: 1 !important;
      bottom: 0 !important;
    }
  }

  .container_image_artist {
    position: relative;
    display: flex;
    justify-content: center;

    img {
      width: 80%;
      filter: drop-shadow(0px 0px 10px rgb(23, 23, 23));
      border-radius: 50%;
      object-fit: cover;
    }

    .container_play_music {
      position: absolute;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $color-green;

      bottom: -20px;
      right: 30px;

      transition: all 0.3s;
      filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));

      .icon_play {
        margin-left: 5px;
        color: $color-white !important;
      }
    }
  }

  .container_info_artist {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5%;

    .title_artist {
      color: $color-white;
    }

    .sub_title {
      color: $color-gray;
    }
  }
}
