$color-white: #FFFFFF;
$color-green: #02FF86;
$color-black-gray-hover: #272727;
$color-black-background-card: #181818;
$color-gray: #616161;
$color-black: #000;
$color-gray-text: #ccc;
$color-gray-1: #b3b3b3;
$color-gray-2: #121212;
$color-gray-3: #5A5A5A;
$color-gray-4: #2A2A2A;
