$color-white: #FFFFFF;
$color-green: #02FF86;
$color-black-gray-hover: #272727;
$color-black-background-card: #181818;
$color-gray: #616161;
$color-black: #000;
$color-gray-text: #ccc;
$color-gray-1: #b3b3b3;
$color-gray-2: #121212;
$color-gray-3: #5A5A5A;
$color-gray-4: #2A2A2A;
$color-profile: #333333;
$color-background-more-options: #282828;
$color-background-hover-item: rgba(255,255,255,.1);
$color-border-playlist_collections: #5e6662;
$color-icon-like-music: linear-gradient(135deg, #450af5, #f1a);

$color-scroll: #4d4d4d;
$color-scroll-hover: #b9bbba;

$height-player-music: 100px;
$width-menu-side: 20%;
$height-menu-top: 60px;
