@import '../../styles/variables.scss';


.home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .content-page {
        display: flex;
        height: calc(100% - $height-player-music);

        .main-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .container_chidren {
                overflow-y: auto;
                overflow-x: hidden;
                height: calc(100% - $height-menu-top);

                &::-webkit-scrollbar {
                    width: 7px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: $color-gray-3;
                    border-radius: 20px;
                }
            }
        }
    }
}
