@import "../../../styles/variables.scss";
@import "../../../styles/global.scss";

.album-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 12px;
    width: 100%;
    max-width: 337.68px;
    max-height: 80px;
    background-color: $color-gray;
    border-radius: 4px;
    color: $color-white;
    font-weight: bold;

    &:hover {
        cursor: pointer;
        background-color: $color-gray-hover;
        .play-album {
            display: flex;
        }
    }

    .album-card-info {
        display: flex;
        align-items: center;
        gap: 12px;

        .album-card-image {
            max-width: 79.67px;
            max-height: 79.67px;
            border-radius: 4px 0 0 4px;
        }
    }
    
    .play-album {
        display: none;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: $color-green;
        width: 45px;
        height: 45px;

        &:hover {
            width: 50px;
            height: 50px;
            cursor: pointer;

            .icon {
                width: 25px;
                height: 25px;
                margin-left: 8px;
            }
        }

        .icon {
            width: 20px;
            height: 20px;
            margin-left: 6px;

            svg {
                fill: $color-white;
            }
        }
    }
    
}

